{% extends "recipes/base.html" %}
{% load static %}

{% block content %}
<section class="py-4 px-4 text-center mt-16 mb-20">
  <div class="w-full max-w-4xl mx-auto">
    <h1 class="text-5xl text-indigo-500 font-semibold">Recipe Finder</h1>
    <div class="main-search-bar flex items-center w-full border border-gray mt-6 rounded-full text-4xl">
      <input class="flex-auto pl-6 py-2 m-1 placeholder-gray-400 text-gray-700 rounded-l-full"
        placeholder="Search by recipe or ingredient" id="recipe_search_input" onkeyup="onSearch(event)" required
        minlength="1">
      <i class="fas fa-search ml-4 mr-6 text-gray-400"></i>
    </div>
  </div>

  <script>
    const onSearch = (event) => {
      if (event.keyCode === 13) {
        event.preventDefault();
        let query = document.getElementById("recipe_search_input").value.trim()
        if (!query) { return }

        let url = new URL(`{% url 'recipe_search_results_view' %}`, window.location.origin)
        url.searchParams.append("q", query)
        window.location.href = url
      }
    }
  </script>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="py-8 px-4">
  <div class="flex justify-between items-center mb-6">
    <div class="recipe-section-heading bg-red-300 px-6">
      <h2 class="text-4xl mb-2 leading-tight font-heading">Trending Recipes</h2>
    </div>
    <div class="text-gray-700 hover:text-blue-700">
      <a class="text-lg" href="{% url 'trending_recipes_page' %}">View All Trending
        <i class="fas fa-chevron-right ml-1"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-wrap -mx-4 -mb-6">
    {% for recipe in most_visited %}
    <div class="lg:w-1/3 px-4 mb-6">
      <a href="{% url 'recipe_detail_page' recipe.recipe_id %}">
        <div class="recipe-card-hover rounded-lg overflow-hidden">
          
          <img src="{% static "recipes/food-with-no-image.jpg" %}" width="900" height="700" >
          
          <h3 class="text-lg font-semibold px-4 mt-2 font-heading">{{ recipe.recipe_name | title }}</h3>
          <h4 class="px-4 text-sm mb-2 text-gray-600">Submitted by Food.com</h4>
          <p class="recipe-description-quote text-gray-700 text-sm px-4 leading-relaxed overflow-y-hidden h-24">
            {{ recipe.recipe_description | capfirst }}</p>
          <hr class="bg-gray-300 mt-4">
          <div class="flex justify-between px-4 my-3 text-xs" style="color: rgba(0,0,0,.4)">
            <span class="text-color-gray">❤️ &nbsp;{{recipe.recipe_likes}} Likes / <i class="far fa-eye"></i>
              {{recipe.recipe_visits}} Views </span>
            <span class="text-color-gray">{{ recipe.human_readable_submitted_date }}</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="py-8 px-4">
  <div class="flex justify-between items-center mb-6">
    <div class="recipe-section-heading bg-orange-300 px-6">
      <h2 class="text-4xl mb-2 leading-tight font-heading">Most Liked Recipes</h2>
    </div>
    <div class="text-gray-700 hover:text-blue-700">
      <a class="text-lg" href="{% url 'most_favourited_recipes_page' %}">View All Most Liked
        <i class="fas fa-chevron-right ml-1"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-wrap -mx-4 -mb-6">
    {% for recipe in most_favourited %}
    <div class="lg:w-1/3 px-4 mb-6">
      <a href="{% url 'recipe_detail_page' recipe.recipe_id %}">
        <div class="recipe-card-hover rounded-lg overflow-hidden">
         
          <img src="{% static "recipes/food-with-no-image2.jpg" %}" width="900" height="700">
          
          <h3 class="text-lg font-semibold px-4 mt-2 font-heading">{{ recipe.recipe_name | title }}</h3>
          <h4 class="px-4 text-sm mb-2 text-gray-600">Submitted by Food.com</h4>
          <p class="recipe-description-quote text-gray-700 text-sm px-4 leading-relaxed overflow-y-hidden h-24">
            {{ recipe.recipe_description | capfirst }}</p>
          <hr class="bg-gray-300 mt-4">
          <div class="flex justify-between px-4 my-3 text-xs" style="color: rgba(0,0,0,.4)">
            <span class="text-color-gray">❤️ &nbsp;{{recipe.recipe_likes}} Likes / <i class="far fa-eye"></i>
              {{recipe.recipe_visits}} Views </span>
            <span class="text-color-gray">{{ recipe.human_readable_submitted_date }}</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="py-8 px-4">
  <div class="flex justify-between items-center mb-6">
    <div class="recipe-section-heading bg-blue-300 px-6">
      <h2 class="text-4xl mb-2 leading-tight font-heading">Recently Added Recipes</h2>
    </div>
    <div class="text-gray-700 hover:text-blue-700">
      <a class="text-lg" href="{% url 'recently_added_recipes_page' %}">View All Recent
        <i class="fas fa-chevron-right ml-1"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-wrap -mx-4 -mb-6">
    {% for recipe in recently_added %}
    <div class="lg:w-1/3 px-4 mb-6">
      <a href="{% url 'recipe_detail_page' recipe.recipe_id %}">
        <div class="recipe-card-hover rounded-lg overflow-hidden">
        
          <img src="{% static "recipes/food-with-no-image3.jpg" %}" width="900" height="700">
    
          <h3 class="text-lg font-semibold px-4 mt-2 font-heading">{{ recipe.recipe_name | title }}</h3>
          <h4 class="px-4 text-sm mb-2 text-gray-600">Submitted by Food.com</h4>
          <p class="recipe-description-quote text-gray-700 text-sm px-4 leading-relaxed overflow-y-hidden h-24">
            {{ recipe.recipe_description | capfirst }}</p>
          <hr class="bg-gray-300 mt-4">
          <div class="flex justify-between px-4 my-3 text-xs" style="color: rgba(0,0,0,.4)">
            <span class="text-color-gray">❤️ &nbsp;{{recipe.recipe_likes}} Likes / <i class="far fa-eye"></i>
              {{recipe.recipe_visits}} Views </span>
            <span class="text-color-gray">{{ recipe.human_readable_submitted_date }}</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="px-4 text-center">
  <h2 class="text-4xl mb-8 leading-tight font-heading">Recipe Finder Family</h2>
  {% comment %} <p class="max-w-xl mx-auto mb-12 text-gray-500">Because no great company could exist without
    accountants, sellers,
    stock workers, and of course - paper.</p> {% endcomment %}
    <div class="md:w-1/3 p-8 md:border-l">
      <img class="w-1/3 mx-auto mb-4 rounded-full" src="{% static "recipes/placeholders/pictures/male_avatar.svg" %}"
        alt="">
      <h3 class="text-xl font-heading">Chanuka Abeysinghe</h3>
      <span>Developer and DBA</span>
      <p class="mt-4 text-gray-500 leading-relaxed">Delivering recipes for you</p>
    </div>
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="px-4 pb-4" id="newsletter-section">
  <h2 class="text-4xl mb-8 text-center font-heading">Newsletter</h2>
  <div class="w-full max-w-2xl mx-auto">
    <h3 class="text-2xl mb-4 text-center font-heading">All the latest recipes straight to your inbox!</h2>
      <form>
        <div class="flex mb-4 -mx-2 justify-center">
          <div class="flex-1 px-2"><input
              class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
              type="email" placeholder="Email"></div>
          <button
            class="inline-block w-24 py-3 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
            type="submit">Submit</button>
        </div>
      </form>
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />

<section class="px-4" id="contact-us-section">
  <h2 class="text-4xl mb-8 text-center font-heading">Contact Us</h2>
  <div class="w-full max-w-2xl mx-auto mb-8">
    <form>
      <div class="flex mb-4 -mx-2">
        <div class="w-1/2 px-2">
          <input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="text" placeholder="Name">
        </div>
        <div class="w-1/2 px-2"><input
            class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
            type="email" placeholder="Email"></div>
      </div>
      <div class="mb-4">
        <textarea
          class="appearance-none block w-full py-3 px-4 leading-tight text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none"
          type="password" placeholder="Suggestions..." rows="5"></textarea>
      </div>
      <div>
        <button
          class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow">Submit</button>
      </div>
    </form>
  </div>
  <div class="text-center">
    <p class="mb-2">Or just email us on</p><a class="text-blue-700 hover:underline"
      href="mailto:team@smartchef.com">team@recipefinder.com</a>
  </div>
</section>

<hr class="bg-gray-300 my-10 w-full" />
{% endblock content %}
